<% provide(:title, 'ユーザリスト') %>
<h1>ユーザリスト</h1>

<div class="row">
  <h3>人数は<%= @users.count %>人です</h3>

    <%= will_paginate %>
    
  <!--  検索拡張機能  -->
  <div class="search">
    <p>ユーザ検索</p>
    <%= form_tag(users_path, :method => 'get' ) do %>
      <%= text_field_tag :search %>
      <%= submit_tag '検索', :name => nil, class: "shbtn" %>
    <% end %>
  </div>

  <ul class="users">
    <%= render @users %>
  </ul>
  
  <%= will_paginate %>
  <%= link_to "ユーザリスト再表示", users_path, class: "reusers" %>
</div>